body {
    background-color: rgb(128, 127, 127);
    font-family: 'Silkscreen', cursive;
}

h1 {

    text-align: center;
    margin: 2rem 0;
    font-size: 64px;
    font-weight: bold;
}

h3 {

    text-align: center;
    margin: 2rem 0;
    font-size: 24px;
}

h2 {

    text-align: center;
    margin: 2rem 0;
    font-size: 52px;
}

button {
    width: 15%;
    max-width: 15%;
    color: rgb(46, 45, 45);
   
    padding: 1.5rem;
    font-size: 32px;
    font-weight: bold;

}

.button-div {
    text-align: center;
}

#difficult {
    padding: 2.5rem;
    font-size: 48px;
    font-weight: bold;
    max-width: 300px;
    width: 300px;
}

#difficult.ez {
    color: rgb(92, 235, 92);
}

#difficult.normal {
    color: rgb(51, 7, 228);
}

#difficult.hard {
    color: rgb(237, 114, 6);
}


.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1142px;
    margin: 3rem auto;
    justify-content: space-around;
}


.cell {
    aspect-ratio: 1/1;

    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 28px;
    background-image: url("../img/fullCell.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

.cell.active {
    background-color: rgb(105, 107, 108);
background-image: none;

}

.cell.active-red {
    /* background-color: rgb(167, 22, 22); */
    background-image: url("../img/Bomb.gif");
    background-repeat: no-repeat;
    background-size: cover;
}